@{
    ViewBag.Title = "О программе";
}
<h2>@ViewBag.Title</h2>


<p> Записная книжка, которая позволяет хранить в памяти список людей фамилия, имя, год рождения, номер телефона. 
    А также производить поиск. В программе предусмотренна, защита от "дурака"</p>
