@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title</h2>


  

<address>
    
     
   
    <strong>Почта разработчика:</strong>   <a href="mailto:roman@ice-video.ru">roman@ice-video.ru</a><br />
 </address>