<h4>Результаты сортировки по дате рождения</h4>


<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>Имя </th>
        <th>Фамилия </th>
        <th>Дата рождения </th>
        <th>Телефон</th>
    </tr>
    <!Show result search>
    @if (ViewBag.FindResult != null)
    {
        foreach (var book in ViewBag.FindResult)

        {
            <tr>
                <td>@book.FirstName</td>
                <td>@book.LastName</td>
                <td>@book.Data.ToShortDateString() </td>
                <td>@book.Phone</td>
            </tr>}
    }



</table>